.userList{
    display: flexbox;
    flex-wrap: wrap;
    gap: 1rem;
    text-align: left;
    background-color:lightgray;
    border-radius: 10px;
    box-shadow: 0 1px 8px rgb(61, 61, 61);
    padding: 1%;
    margin: 3% 20% 3% 20%;
}